@import "tailwindcss";

@theme {
	--radius-sm: var(--radius-sm);
	--radius-md: var(--radius-md);
	--radius-lg: var(--radius-lg);
	--radius-xl: var(--radius-xl);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-background-secondary: var(--background-secondary);
	--color-sidebar-background: var(--sidebar-background);
	--color-sidebar-border: var(--sidebar-border);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted-border: var(--muted-border);

	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
}

:root {
	--radius: 0.5rem;
	--background: #f6faff;
	--foreground: #141d23;
	--background-secondary: #f9fafb;
	--sidebar-background: #fafafa;
	--sidebar-border: #e5e7eb;

	--card: #ffffff;
	--card-foreground: #141d23;

	--primary: #7ad33e;
	--primary-foreground: #ffffff;

	--muted: #333333;
	--muted-foreground: #666666;
	--muted-border: #e4e4e7;

	--border: var(--muted-border);
	--input: var(--muted-border);
	--ring: #7ad33e;

	/* radius aliases */
	--radius-sm: 0.25rem;
	--radius-md: 0.75rem;
	--radius-lg: 1rem;
	--radius-xl: 1.5rem;
	--radius-full: 9999px;
}

.dark {
	--background: #141d23;
	--foreground: #e9f2fb;
	--sidebar-background: #fafafa;
	--sidebar-border: #e5e7eb;

	--card: #1a242b;
	--card-foreground: #e9f2fb;

	--primary: #7ad33e;
	--primary-foreground: #0a2100;

	--muted: #333333;
	--muted-foreground: #666666;
	--muted-border: #e4e4e7;

	--border: var(--muted-border);
	--input: var(--muted-border);
	--ring: #7ad33e;
}

* {
	border-color: var(--border);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Hanken Grotesk", sans-serif;
}
